{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue</h1>
    {% if app.user %}
        <button type="button" class="btn ms-auto btn-secondary" onclick="location.href='{{ path('app_drinks') }}'">Commander</button>
    {% endif %}

</div>
{% endblock %}
